@model List<Employee>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Employee List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i>  Create New Employee
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Employee Name
                    </th> 
                    <th>
                        Email
                    </th>
                    <th>
                        Mobile
                    </th> 
                   
                    <th>
                        Salary
                    </th> <th>
                        Department
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>
                        @employee.Name</td>
                    <td>
                        @employee.Email
                    </td>
                    <td>
                        @employee.PhoneNumber
                    </td>
                    <td>
                        @employee.Salary
                    </td>
                    <td>
                        @employee.Department.Name
                    </td>
                    <td>
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-warning mx-2">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                            <a asp-controller="Employee" asp-action="Update" asp-route-id="@employee.Id" class="btn btn-success mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
